* {
  margin: 0;
  padding: 0;
}
.heading {
  margin-top: 40px;
}
.top__menu {
  padding-top: 11px;
  padding-bottom: 12px;
}
.top__content {
  margin-top: 84px;
}

.top__link {
  margin-top: 162px;
  padding-top: 97px;
  padding-bottom: 96px;
}
